{% extends "mainapp/base.html" %}
{% block title %}Our Team{% endblock %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Meet Our Team</h2>
    <div class="row justify-content-center">

        <div class="col-md-4 mb-4">
            <div class="card text-center shadow p-3">
                <div class="card-body">

                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card text-center shadow p-3">
                <div class="card-body">

                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card text-center shadow p-3">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
